In [4]:
#install selenium
!pip install selenium

Requirement already satisfied: selenium in c:\users\rachn\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\rachn\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\rachn\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\rachn\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\rachn\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\rachn\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\rachn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\rachn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\rachn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\rachn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\rachn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\rachn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\rachn\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\rachn\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\rachn\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\rachn\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [68]:
#import all neccessory libreries of selenium
# import debugger
import re

# selenium
import selenium
import pandas as pd
from selenium import webdriver

# Beautiful soup
from bs4 import BeautifulSoup
import requests
from selenium.webdriver.common.by import By
# add time
import time

from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException ,ElementNotInteractableException

from selenium.webdriver.support.ui import WebDriverWait

1. Scrape  the  
details  of  
most  viewed  videos  on  
YouTube  
from  Wikipedia.  
Url 
= https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos You need to find following details:  A) 
Rank   
B) Name   
C) Artist   
D) Upload date   
E) Views

In [18]:
# connecting to the webdriver
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [19]:
#Get url in web driver first
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
#the url will open

In [20]:
# creating empty list for scraping the data

Rank = []
Name = []
Artist = []
Date = []
Views = []

In [21]:
# scraping Rank of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [23]:
# Scraping Name of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [24]:
# Scraping Artist of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [25]:
# Scraping Upload_Date of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [26]:
# Scraping Views of the videos
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [27]:
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

In [31]:
# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids',"7,046,700,000","November 2, 2020","June 17, 2016"
1,"""Despacito""[9]",,"2,993,700,000","August 4, 2017","January 12, 2017"
2,"""See You Again""[22]",,"2,894,000,000","July 10, 2017","April 6, 2015"
3,"""Gangnam Style""⁂[31]",,"803,700,000","November 24, 2012","July 15, 2012"
4,"""Baby""*[66]",,"245,400,000","July 16, 2010","February 19, 2010"
5,"""Bad Romance""[70]",,"178,400,000","April 14, 2010","November 24, 2009"
6,"""Charlie Bit My Finger""[74]",,"128,900,000","October 25, 2009","May 22, 2007"
7,"""Evolution of Dance""[76]",,"118,900,000","May 2, 2009","April 6, 2006"
8,"""Girlfriend""‡[78][79]",,"92,600,000","July 17, 2008","February 27, 2007"
9,"""Evolution of Dance""[76]",,"78,400,000","March 15, 2008","April 6, 2006"
10,"""Music Is My Hot Hot Sex""‡[84]",,"76,600,000","March 1, 2008","April 9, 2007"
11,"""Evolution of Dance""*[76]",,"10,600,000","May 19, 2006","April 6, 2006"
12,"""Pokémon Theme Music Video""‡[89]",,"4,300,000","March 12, 2006","November 28, 2005"
13,"""Myspace – The Movie""‡[94][95]",,"2,700,000","February 18, 2006","January 31, 2006"
14,"""Phony Photo Booth""‡[98]",,"3,400,000","January 21, 2006","December 1, 2005"
15,"""The Chronic of Narnia Rap""‡[104]",,"2,300,000","January 9, 2006","December 18, 2005"
16,"""Ronaldinho: Touch of Gold""‡*[107]",,"255,000","October 31, 2005","October 21, 2005"
17,"""I/O Brush""‡*[113]",,"247,000","October 29, 2005","October 5, 2005"

2. Scrape the details team India’s international fixtures from bcci.tv.   
Url = https://www.bcci.tv/.   
You need to find following details:   
A) Series   
B) Place   
C) Date   
D) Time   
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [230]:
# connecting to the webdriver
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [231]:
#Get url in web driver first
url=('https://www.bcci.tv/')
driver.get(url)

In [232]:
btn=driver.find_element(By.XPATH,"/html/body/header/div[3]/div[2]/ul/div[1]/a[2]")
driver.get(btn.get_attribute("href"))
time.sleep(3)

In [233]:
# creating empty lists for scraping the data
Match_Title = []
Series = []
Place = [
Date = []
Time = []

In [248]:
for i in driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Match_Title.append(i.text)

In [249]:
for i in driver.find_elements(By.XPATH,'//div[@class="tags-wrap"]/span'):
    Series.append(i.text)

In [250]:
for i in driver.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)

In [251]:
for i in driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text.replace('\n',' '))

In [252]:
for i in driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

In [253]:
date=[i.split(' ',3)[:3] for i in Date]
date=[' '.join(i) for i in date]
Time=[i.split(' ',3)[-1] for i in Date]

In [260]:
# Make data frame of fictures from bcci.tv
fixtures = pd.DataFrame({})
fixtures['MatchTitle']= Match_Title[:10]
fixtures['Series'] = Series[:10]
fixtures['Place'] = Place[:10]
fixtures['Date'] = Date[:10]
fixtures['Time'] =Time[:10]
 
fixtures

,MatchTitle,Series,Place,Date,Time
0,INDIA TOUR OF ZIMBABWE 2024,4th Test,"JSCA International Stadium Complex,","23 FEBRUARY, 2024",2024
1,ENGLAND TOUR OF INDIA 2023-24,5th Test,73.0 overs,"7 MARCH, 2024",2024
2,ENGLAND TOUR OF INDIA 2023-24,4th Test,"Himachal Pradesh Cricket Association Stadium,","6 JULY, 2024",2024
3,INDIA TOUR OF ZIMBABWE 2024,Men,"Harare Sports Club,","7 JULY, 2024",2024
4,INDIA TOUR OF ZIMBABWE 2024,5th Test,"Harare Sports Club,","10 JULY, 2024",2024
5,INDIA TOUR OF ZIMBABWE 2024,Men,"Harare Sports Club,","13 JULY, 2024",2024
6,INDIA TOUR OF ZIMBABWE 2024,1st T20I,"Harare Sports Club,","14 JULY, 2024",2024
7,INDIA TOUR OF ZIMBABWE 2024,Men,"Harare Sports Club,","23 FEBRUARY, 2024",2024
8,ENGLAND TOUR OF INDIA 2023-24,2nd T20I,"JSCA International Stadium Complex,","7 MARCH, 2024",2024
9,ENGLAND TOUR OF INDIA 2023-24,Men,73.0 overs,"6 JULY, 2024",2024

In [257]:
len(url)

20

3. Scrape the details of State-wise GDP of India from statisticstime.com.   
Url = http://statisticstimes.com/   
You have to find following details: A) Rank   
B) State   
C) GSDP(18-19)- at current prices   
D) GSDP(19-20)- at current prices   
E) Share(18-19)   
F) GDP($ billion)   
Note: - From statisticstimes home page you have to reach to economy page through code.

In [119]:
# getting the webpage of mentioned url
url = ("https://statisticstimes.com/")
driver.get(url)

In [124]:
# clicking on Economy button
driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button').click()

# clicking on India
driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/div').click()
time.sleep(3)

# clicking on GDP of Indian Economy
GDP = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(3)

In [125]:
# creating empty list
Rank = []
State = []
GSDP1 = []
GSDP2 = []
Share = []
GDP_billion = []

In [126]:
# scraping Rank
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("_")

In [127]:
# scraping State
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[2]"):
        State.append(i.text)
except NoSuchElementException:
    State.append("_")

In [128]:
# scraping GSDP at current price (19-20)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[3]"):
        GSDP1.append(i.text)
except NoSuchElementException:
    GSDP1.append("_")

In [129]:
# scraping GSDP at current price (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[4]"):
        GSDP2.append(i.text)
except NoSuchElementException:
    GSDP2.append("_")

In [130]:
# scraping Share (18-19)
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[5]"):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("_")

In [131]:
# scraping GDP $ billion
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='display dataTable']/tbody/tr/td[6]"):
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("_")

In [132]:
# creating DataFrame from the scraped data
GDP = pd.DataFrame({})
GDP['Rank'] = Rank
GDP['State'] = State
GDP['GSDP at current price (19-20)'] = GSDP1
GDP['GSDP at current price (18-19)'] = GSDP2
GDP['Share (18-19)'] = Share
GDP['GDP($ billion)'] = GDP_billion
GDP

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share (18-19),GDP($ billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
...,...,...,...,...,...,...
61,29,Arunachal Pradesh,-,"31,669",0.16%,-
62,30,Sikkim,"35,670","31,519",0.16%,"17,832"
63,31,Nagaland,-,"27,859",0.14%,-
64,32,Mizoram,-,"24,293",0.12%,-
65,33,Andaman & Nicobar Islands,-,"9,209",0.05%,-

In [133]:
driver.close()

4. Scrape the details of trending repositories on Github.com.   
Url = https://github.com/   
You have to find the following details:   
A) Repository title   
B) Repository description   
C) Contributors count   
D) Language used

In [261]:
# connecting to the webdrive
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [262]:
# getting the webpage of mentioned url
url = ("https://github.com/")
driver.get(url)

In [263]:
# getting explore button and clicking on it
try:
    explore = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/div/div[2]/span").click()

except ElementNotInteractableException as e:
    print("Exception Raised: ", e)

# selecting trending option
trend_url = driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[1]/button")
urls = trend_url.get_attribute("href")
driver.get(urls)

Exception Raised:  Message: element not interactable
  (Session info: chrome=121.0.6167.185)
Stacktrace:
	GetHandleVerifier [0x00007FF685B17012+3522402]
	(No symbol) [0x00007FF685738352]
	(No symbol) [0x00007FF6855E596D]
	(No symbol) [0x00007FF68562D3C6]
	(No symbol) [0x00007FF685621910]
	(No symbol) [0x00007FF68564F05A]
	(No symbol) [0x00007FF68562120A]
	(No symbol) [0x00007FF68564F270]
	(No symbol) [0x00007FF68566BDA3]
	(No symbol) [0x00007FF68564EE03]
	(No symbol) [0x00007FF68561F4D4]
	(No symbol) [0x00007FF6856205F1]
	GetHandleVerifier [0x00007FF685B49B9D+3730157]
	GetHandleVerifier [0x00007FF685B9F02D+4079485]
	GetHandleVerifier [0x00007FF685B975D3+4048163]
	GetHandleVerifier [0x00007FF68586A649+718233]
	(No symbol) [0x00007FF685744A3F]
	(No symbol) [0x00007FF68573FA94]
	(No symbol) [0x00007FF68573FBC2]
	(No symbol) [0x00007FF68572F2E4]
	BaseThreadInitThunk [0x00007FF83161257D+29]
	RtlUserThreadStart [0x00007FF83272AA58+40]

InvalidArgumentException: Message: invalid argument: 'url' must be a string
  (Session info: chrome=121.0.6167.185)
Stacktrace:
	GetHandleVerifier [0x00007FF685B17012+3522402]
	(No symbol) [0x00007FF685738352]
	(No symbol) [0x00007FF6855E5ABB]
	(No symbol) [0x00007FF68566C7EA]
	(No symbol) [0x00007FF68564F05A]
	(No symbol) [0x00007FF68566BDA3]
	(No symbol) [0x00007FF68564EE03]
	(No symbol) [0x00007FF68561F4D4]
	(No symbol) [0x00007FF6856205F1]
	GetHandleVerifier [0x00007FF685B49B9D+3730157]
	GetHandleVerifier [0x00007FF685B9F02D+4079485]
	GetHandleVerifier [0x00007FF685B975D3+4048163]
	GetHandleVerifier [0x00007FF68586A649+718233]
	(No symbol) [0x00007FF685744A3F]
	(No symbol) [0x00007FF68573FA94]
	(No symbol) [0x00007FF68573FBC2]
	(No symbol) [0x00007FF68572F2E4]
	BaseThreadInitThunk [0x00007FF83161257D+29]
	RtlUserThreadStart [0x00007FF83272AA58+40]

5.Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/  You have to find the 
following details:   
A) Song name   
B) Artist name   
C) Last week rank   
D) Peak rank   
E) Weeks on board

In [289]:
# connecting to the webdrive
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [290]:
# getting the webpage of mentioned url
url = ("https://www.billboard.com/")
driver.get(url)

In [293]:
#serch button click
charts_button =driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
charts_button.click()

In [294]:
# creating empty lists
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [295]:
# getting urls for top 100 songs
urls = driver.find_element(By.XPATH,'//a[@class="c-label__link lrv-u-color-brand-primary u-color-black@mobile-max a-font-primary-bold lrv-u-font-size-32 u-whitespace-nowrap@tablet"]')
page_url = urls.get_attribute("href")
driver.get(page_url)
time.sleep(4)

In [296]:
# scraping data of song names
for i in driver.find_elements(By.XPATH,'//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet"]'):
    Song_Name.append(i.text)

In [297]:
# scraping data of artist names
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]'):
    Artist_Name.append(i.text)

In [298]:
# scraping data of last week ranks
for i in driver.find_elements(By.XPATH,'//span[@class="c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet"]'):
    Last_week_rank.append(i.text)

In [285]:
# scraping data of peak ranks
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[5]/span"):
    Peak_rank.append(i.text)

In [301]:
# scraping data of weeks on board
for i in driver.find_elements(By.XPATH,"/html/body/div[3]/main/div[2]/div[3]/div/div/div/div[2]/div[2]/ul/li[4]/ul/li[6]/span"):
    Weeks_on_board.append(i.text)

In [302]:
# creating dataframe for scraped data
billiboard = pd.DataFrame({})
billiboard['Name'] = Song_Name
billiboard['Artist'] = Artist_Name
billiboard['Last Week Rank'] = Last_week_rank
billiboard['Peak Rank'] = Peak_rank
billiboard['Weeks on board'] = Weeks_on_board
billiboard

ValueError: Length of values (6) does not match length of index (1)

6. Scrape the details of Highest selling novels.   
A) Book name   
B) Author name   
C) Volumes sold   
D) Publisher   
E) Genre

In [114]:
# connecting to the webdrive
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [116]:
#Get url in web driver first
url = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/'
driver.get(url)
#the url will open

In [121]:
# creating empty lists
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [122]:
# scraping book names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[2]"):
    Book_name.append(i.text)

In [123]:
# scraping author names data
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        Author_name.append(i.text)
    except NoSuchElementException:
        Author_name.append('-')
time.sleep(3)

In [125]:
# scraping data of volumes sold
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[4]"):
    Volumes_sold.append(i.text)

In [126]:
# scraping data of publisher names
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[5]"):
    Publisher.append(i.text)

In [127]:
# scraping  data of genre
for i in driver.find_elements(By.XPATH,"//tbody//tr//td[6]"):
    Genre.append(i.text)

In [128]:
# creating dataframe for scraped data
Novels = pd.DataFrame({})
Novels['Book Name'] = Book_name
Novels['Author'] = Author_name
Novels['Volume sold'] = Volumes_sold
Novels['Publisher'] = Publisher
Novels['Genre'] = Genre
Novels

,Book Name,Author,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com.   
Url = https://www.imdb.com/list/ls095964455/ You have 
to find the following details:   
A) Name   
B) Year span   
C) Genre   
D) Run time   
E) Ratings   
F) Votes

In [183]:
# connecting to the webdrive
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [184]:
# getting the webpage of mentioned url
url = ("https://www.imdb.com/search/title/?title_type=tv_series&sort=num_votes,desc")
driver.get(url)

In [185]:
# creating empty lists
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [186]:
# scraped data of Names
for i in driver.find_elements(By.XPATH,'//a[@class="ipc-title-link-wrapper"]'):
    Name.append(i.text)

In [187]:
# scraped data of Year span
for i in driver.find_elements(By.XPATH,'//div[@class="sc-be6f1408-7 iUtHEN dli-title-metadata"]'):
    Year_span.append(i.text)

In [188]:
# scraped data of Ratings
for i in driver.find_elements(By.XPATH,'//span[@class="ipc-rating-star ipc-rating-star--base ipc-rating-star--imdb ratingGroup--imdb-rating"]'):
    Ratings.append(i.text)

In [189]:
# scraped data of Votes
for i in driver.find_elements(By.XPATH,'//div[@class="ipc-html-content ipc-html-content--base sc-f24f1c5c-1 KgkxE dli-plot-container"]'):
    Votes.append(i.text)

In [190]:
# creating dataframe for scraped data
TV_Series = pd.DataFrame({})
TV_Series['Name'] = Name
TV_Series['Year Span'] = Year_span
TV_Series['Ratings'] = Ratings
TV_Series['Votes'] = Votes
TV_Series

,Name,Year Span,Ratings,Votes
0,1. Game of Thrones,2011–2019\nTV-MA,9.2\n (2.3M),Nine noble families fight for control over the...
1,2. Breaking Bad,2008–2013\nTV-MA,9.5\n (2.1M),A chemistry teacher diagnosed with inoperable ...
2,3. Stranger Things,2016–2025\nTV-14,8.7\n (1.3M),"When a young boy vanishes, a small town uncove..."
3,4. Friends,1994–2004\nTV-14,8.9\n (1.1M),Follows the personal and professional lives of...
4,5. The Walking Dead,2010–2022\nTV-MA,8.1\n (1.1M),Sheriff Deputy Rick Grimes wakes up from a com...
5,6. Sherlock,2010–2017\nTV-14,9.1\n (989K),The quirky spin on Conan Doyle's iconic sleuth...
6,7. The Big Bang Theory,2007–2019\nTV-PG,8.1\n (860K),A woman who moves into an apartment across the...
7,8. Dexter,2006–2013\nTV-MA,8.7\n (759K),"He's smart. He's lovable. He's Dexter Morgan, ..."
8,9. How I Met Your Mother,2005–2014\nTV-14,8.3\n (723K),A father recounts to his children - through a ...
9,10. The Office,2005–2013\nTV-14,9.0\n (699K),A mockumentary on a group of typical office wo...
10,11. True Detective,2014–\nTV-MA,8.9\n (642K),Anthology series in which police investigation...
11,12. Peaky Blinders,2013–2022\nTV-MA,8.8\n (637K),"A gangster family epic set in 1900s England, c..."
12,13. Better Call Saul,2015–2022\nTV-MA,9.0\n (636K),The trials and tribulations of criminal lawyer...
13,14. The Boys,2019–\nTV-MA,8.7\n (634K),A group of vigilantes set out to take down cor...
14,15. Black Mirror,2011–\nTV-MA,8.7\n (632K),"Featuring stand-alone dramas -- sharp, suspens..."
15,16. Rick and Morty,2013–\nTV-MA,9.1\n (594K),The fractured domestic lives of a nihilistic m...
16,17. Lost,2004–2010\nTV-14,8.3\n (590K),The survivors of a plane crash are forced to w...
17,18. The Mandalorian,2019–\nTV-14,8.7\n (580K),The travels of a lone bounty hunter in the out...
18,19. Vikings,2013–2020\nTV-MA,8.5\n (575K),Vikings transports us to the brutal and myster...
19,20. Prison Break,2005–2017\nTV-14,8.3\n (574K),A structural engineer installs himself in a pr...
20,21. The Witcher,2019–\nTV-MA,8.0\n (565K),"Geralt of Rivia, a solitary monster hunter, st..."
21,22. Squid Game,2021–\nTV-MA,8.0\n (531K),Hundreds of cash-strapped players accept a str...
22,23. Westworld,2016–2022\nTV-MA,8.5\n (529K),At the intersection of the near future and the...
23,24. House of Cards,2013–2018\nTV-MA,8.6\n (528K),A Congressman works with his equally conniving...
24,25. Money Heist,2017–2021\nTV-MA,8.2\n (526K),An unusual group of robbers attempt to carry o...
25,26. House,2004–2012\nTV-14,8.7\n (504K),"Using a crack team of doctors and his wits, an..."
26,27. The Last of Us,2023–\nTV-MA,8.8\n (501K),"After a global pandemic destroys civilization,..."
27,28. Attack on Titan,2013–2023\nTV-MA,9.1\n (498K),After his hometown is destroyed and is traumat...
28,29. Supernatural,2005–2020\nTV-14,8.4\n (479K),Two brothers follow their father's footsteps a...
29,30. Modern Family,2009–2020\nTV-PG,8.5\n (477K),"Three different, but related, families face tr..."
30,31. Suits,2011–2019\nTV-14,8.4\n (471K),"On the run from a drug deal gone bad, brillian..."
31,32. Daredevil,2015–2018\nTV-MA,8.6\n (471K),"A blind lawyer by day, vigilante by night. Mat..."
32,33. Narcos,2015–2017\nTV-MA,8.8\n (465K),A chronicled look at the criminal exploits of ...
33,34. The Sopranos,1999–2007\nTV-MA,9.2\n (462K),New Jersey mob boss Tony Soprano deals with pe...
34,35. Arrow,2012–2020\nTV-14,7.5\n (445K),Spoiled billionaire playboy Oliver Queen is mi...
35,36. Dark,2017–2020\nTV-MA,8.7\n (437K),"A family saga with a supernatural twist, set i..."
36,37. The Simpsons,1989–\nTV-14,8.7\n (433K),The satiric adventures of a working-class fami...
37,38. Fargo,2014–2024\nTV-MA,8.9\n (416K),"Various chronicles of deception, intrigue, and..."
38,39. Mr. Robot,2015–2019\nTV-MA,8.5\n (415K),"Elliot, a brilliant but unstable cyber-securit..."
39,40. Loki,2021–2023\nTV-14,8.2\n (406K),The mercurial villain Loki resumes his role as...
40,41. South Park,1997–\nTV-MA,8.7\n (403K),Follows the misadventures of four irreverent g...
41,42. The Wire,2002–2008\nTV-MA,9.3\n (373K),"The Baltimore drug scene, as seen through the ..."
42,43. Death Note,2006–2007\nTV-14,8.9\n (372K),An intelligent high school student goes on a s...
43,44. The Flash,2014–2023\nTV-PG,7.5\n (367K),"After being struck by lightning, Barry Allen w..."
44,45. House of the Dragon,2022–\nTV-MA,8.4\n (363K),An internal succession war within House Targar...
45,46. Family Guy,1999–2025\nTV-MA,8.2\n (362K),"In a wacky Rhode Island town, a dysfunctional ..."
46,47. Homeland,2011–2020\nTV-MA,8.3\n (359K),A bipolar CIA operative becomes convinced a pr...
47,48. Avatar: The Last Airbender,2005–2008\nTV-Y7-FV,9.3\n (358K),"In a war-torn world of elemental magic, a youn..."
48,49. Brooklyn Nine-Nine,2013–2021\nTV-14,8.4\n (356K),Comedy series following the exploits of Det. J...
49,50. Wednesday,2022–\nTV-14,8.1\n (353K),"Follows Wednesday Addams' years as a student, ..."

In [191]:
driver.close()

Details of Datasets from UCI machine learning repositories.   
Url = https://archive.ics.uci.edu/  You 
have to find the following details:   
A) Dataset name   
B) Data type   
C) Task   
D) Attribute type   
E) No of instances   
F) No of attribute G) Year

In [214]:
# connecting to the webdrive
driver=webdriver.Chrome()
driver.get("http://www.google.com/")

In [193]:
# getting the webpage of mentioned url
url = (" https://archive.ics.uci.edu/")
driver.get(url)

In [196]:
# fetching view all dataset button from the webpage
viewall_dataset = driver.find_element(By.XPATH,'//a[@class="btn-primary btn"]')
page_url = viewall_dataset.get_attribute("href")
driver.get(page_url)
time.sleep(3)

In [221]:
# creating empty lists
Dataset_name = []
Data_type = []
Task = []
Attribute_type = []
No_of_instances = []
No_of_attributes = []
Year = []

In [222]:
#extract the tag having dataset Name
name =driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
#to remove extra data other than output we required
Dataset_Name=[]
for i in name:
    Dataset_Name.append(i.text)
Dataset_name = []
for i in Dataset_Name[44: :2]:
    Dataset_name.append(i)

In [223]:
#extract the tag having dataset Name
datatype =driver.find_elements(By.XPATH,'//span[@class="truncate"]')
#to remove extra data other than output we required
Data_type=[]
for i in datat:
    Data_type.append(i.text)

Data_Type=[]
for i in Data_type[25: :7]:
    Data_Type.append(i)

In [224]:
#extract the tag having dataset Name
task =driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
#to remove extra data other than output we required
Task=[]
for i in task:
    Task.append(i.text)

TASK=[]
for i in Task[26: :7]:
    TASK.append(i)

In [225]:
Attribute_Type=[]
for i in Data_type[27: :7]:
    Attribute_Type.append(i)

In [226]:
Instances = []
for i in Data_type[28: :7]:
    Instances.append(i)

In [227]:
Attribute=[]
for i in Data_type[29: :7]:
    Attribute.append(i)

In [228]:
Year=[]
for i in Data_type[30: :7]:
    Year.append(i)

In [303]:
# Make data frame of Datasets from UCI machine learning repositories from Url = https://archive.ics.uci.edu/
ML_REPOSITORIES = pd.DataFrame({})
ML_REPOSITORIES['Dataset_name']= Dataset_name
ML_REPOSITORIES['Data_Type'] = Data_Type
ML_REPOSITORIES['Task'] = TASK 
ML_REPOSITORIES['Attribute_Type'] = Attribute_Type
ML_REPOSITORIES['Instances'] = Instances 
ML_REPOSITORIES['Attribute'] = Attribute 
ML_REPOSITORIES['Year'] = Year
ML_REPOSITORIES

ValueError: Length of values (0) does not match length of index (3)